<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 rescap">

  <Identity
    Name="Omniphony.SpatialCompanion"
    Publisher="CN=Omniphony Development"
    Version="0.1.0.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Omniphony Spatial Companion</DisplayName>
    <PublisherDisplayName>Omniphony</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
    <PackageDependency
      Name="Microsoft.VCLibs.140.00"
      Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
      MinVersion="14.0.33519.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>OmniphonySpatialLicenseService.dll</Path>
        <ActivatableClass
          ActivatableClassId="OmniphonySpatialLicenseService.SpatialLicenseService"
          ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>

  <Applications>
    <Application
      Id="Companion"
      Executable="OmniphonySpatialCompanion.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Omniphony Spatial Companion"
        Description="Omniphony Spatial Sound ownership and license companion"
        BackgroundColor="transparent"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png" />
      <Extensions>
        <uap:Extension Category="windows.mediaPlayback">
          <uap:MediaPlayback>
            <uap:Codec Name="{4BD75423-A66C-4586-B782-1FCBBDF2AE74}" />
          </uap:MediaPlayback>
        </uap:Extension>
        <uap:Extension
          Category="windows.appService"
          EntryPoint="OmniphonySpatialLicenseService.SpatialLicenseService">
          <uap:AppService Name="OmniphonySpatialLicense" />
        </uap:Extension>
        <uap5:Extension Category="windows.appExecutionAlias">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="OmniphonySpatialCompanion.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>
    </Application>

    <Application
      Id="AppServiceProbe"
      Executable="OmniphonySpatialAppServiceProbeV17.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Omniphony Spatial AppService Probe"
        Description="Omniphony Spatial Sound AppService diagnostic probe"
        BackgroundColor="transparent"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png" />
      <Extensions>
        <uap5:Extension Category="windows.appExecutionAlias">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="OmniphonySpatialAppServiceProbeV17.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>
    </Application>

    <Application
      Id="BrokerProbe"
      Executable="OmniphonySpatialBrokerProbeV22.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Omniphony Spatial Broker Probe"
        Description="Omniphony Spatial Sound Windows license-broker correlation probe"
        BackgroundColor="transparent"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png" />
      <Extensions>
        <uap5:Extension Category="windows.appExecutionAlias">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="OmniphonySpatialBrokerProbeV22.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
